.expense-form {
  display: flex;
  gap: 2em;
  justify-content: center;
  margin-bottom: 3em;
}

.expense-table {
    width: 100%;
    border-bottom: 1px solid black;
    border-radius: 20px;
    margin: 3em 0;
}

h1 {
    color: rgb(56, 138, 134);
}