.users-table {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-bottom: 1px solid black;
  border-radius: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

h2{
  margin-top: 6em;
  color: rgb(24, 73, 180);
  font-style: italic;
}

th,
td {
  border: 1px solid black;
  text-align: center;
  padding: 8px;
  font-size: 32px;
}

th {
  background-color: rgb(117, 201, 250);
}

td {
  background-color: rgb(205, 235, 253);
}

.add-user-form {
  display: flex;
  gap: 2em;
  justify-content: center;
  margin-bottom: 8em;
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

form * {
  font-size: 28px;
}

input {
    border-radius: 10px;
    padding: 5px;
}

select {
    border-radius: 10px;
    padding: 5px;
}
